<!DOCTYPE html>
<html>
  <head>
    <title>El Campo de Olmo</title>
  </head>

  <body>
    <div>
      <header>
        El Campo de Olmo
      </header>
        <aside>
          Categorias
        </aside>
        <main>
          <ul>
            <li> Tomates </li>
            <li> Lechuga </li>
            <li> Pepino </li>
            <li> Calabacin </li>
            <li> Fabes </li>
            <li> Mermelada de Fresa </li>
          </ul>
        </main>
        <footer>
          Copyright © 2020 El Campo de Olmo. Diseñado por Jara S.
        </footer>
    </div>
  </body>
</html>