<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='style.css' />
    <title>El Campo de Olmo</title>
  </head>

  <body>
    <div class='grid-container'>
      <header class='header'>
        El Campo de Olmo
      </header>

      <main class='main'>
        <ul>
          <li> Tomates </li>
          <li> Lechuga </li>
          <li> Pepino </li>
          <li> Calabacin </li>
          <li> Fabes </li>
          <li> Mermelada de Fresa </li>
        </ul>
      </main>
      
      <footer class='footer'>
        Copyright © 2020 El Campo de Olmo. Diseñado por Jara S.
      </footer>
    </div>
  </body>
</html>