html {
  font-size: 62.5%;  /* Default 16px * 62.5 = 10px = 1rem => more responsive in different browsers */
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;  /* 16px */
  height: 100vh; /* set to full viewport height */
  margin: 0;
}

/* Create a grid to organize page content */
.grid-container {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr; /* 1 column of 1fragment size */
  grid-template-rows: 5rem 1fr 5rem; /* 3 rows of different sizes */
  height: 100%;
}

.header {
  grid-area: header;
  background-color: #184430;
  color: #DEB738;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.brand a {
  color: #DEB738;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

.header-links a {
  color: #DEB738;
  text-decoration: none;
}

.header-links a:hover {
  color: #B1B94C;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: #548150;
  color: #DEB738;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}